{% extends 'services/base.html' %}
{% load static %}
{% block title %}{{ massage.title }}{% endblock %}

{% block header %}
    {% include 'services/block/header.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <nav aria-label="breadcrumb" class="mt-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><h1>
                            {{ massage.title }}</h1></li>
                    </ol>
                </nav>
                <img class="img-fluid rounded " src="{{ massage.image.url }}" alt="NON">
                <hr>
                <p class="lead">
                    {{ massage.body|striptags }}
                </p>
                <hr>
                <div><i>Продолжительность:</i>
                    <i class="invisible">__________________________________________________</i>
                    <p class="text-right d-inline"> {{ massage.length }} минут</p>

                </div>

                <hr>
                <div>
                    <i>Цена: </i>
                    <i
                            class="invisible">______________________________________________________________
                    </i>
                    <p class="text-right d-inline"> {{ massage.price }} рублей</p>
                </div>

                <hr>
                {% include 'services/block/comments.html' %}
            </div>
            {% include 'services/block/aside.html' %}
        </div>
    </div>
{% endblock %}